<div class="container height-80 d-flex flex-column justify-content-around">
  <div class="row">
    <div class="w-50">
      <small>MY SPECIALTY </small>
      <h2>MY SKILLS</h2>
    </div>
  </div>
  <div class="row">
    <div class="">
      <p>
        The Big Oxmox advised her not to do so, because there were thousands of
        bad Commas, wild Question Marks and devious Semikoli, but the Little
        Blind Text didn`t listen. She packed her seven versalia, put her initial
        into the belt and made herself on the way.
      </p>
    </div>
</div>
    <div class="row">
        <div class="col-md-6 mt-4 ">
            <h5>CSS3</h5>
            <div class="progress" role="progressbar" aria-label="Success example" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
            <div class="progress-bar bg-success" style="width: 25%">25%</div>
          </div>
        </div>
        <div class="col-md-6 mt-4"> 
            <h5>HTML5</h5>
            <div class="progress" role="progressbar" aria-label="Info example" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
              <div class="progress-bar bg-info text-dark" style="width: 50%">50%</div>
            </div>
        </div>
        <div class="col-md-6 mt-4">
            <h5>TYPE SCRIPT</h5>
            <div class="progress" role="progressbar" aria-label="Warning example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
              <div class="progress-bar bg-warning text-dark" style="width: 75%">75%</div>
            </div>
        </div>
        <div class="col-md-6 mt-4">
            <h5>Angular</h5>
            <div class="progress" role="progressbar" aria-label="Danger example" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
              <div class="progress-bar bg-danger" style="width: 100%">100%</div>
            </div>
        </div>
    </div>
  
</div>
